{% extends "base.html" %}
{% load static %}

{% block title %}
  Add Project
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css"/>
{% endblock %}

{% block subtitlerow1 %}
  Kanban Board
{% endblock %}
{% block subtitlerow2 %}

<div class="row">
  <div class="col-4 col-sm-6 col-md-8 col-lg-8">
    <button class="btn" style="background-color: #0091D5!important;color: #fff!important;" type="button" data-toggle="collapse" data-target="#collapse-filter" aria-expanded="false" aria-controls="collapseExample">
      Filters <i class="fa fa-chevron-down text-muted" style="color: #fff!important;"></i>
    </button>
  </div>
</div>
<div class="container">
  <div class="form-group row" id="project_selection">
  </div>
</div>


{% endblock %}

{% block content %}
<div id="cover-spin"></div>

<div id="message_container" style="display: none;">
  <div id="message_content">

  </div>
  <i class="fa fa-close fa-2 ml-4" id="closeMessage" style="color:white;cursor: pointer;"></i>
</div>

<!-- Task Cards -->
<div class="container-fluid" style="min-height: 600px;">
    <div class="lists mt-1 border-top" id="taskCardContainer">
      
    </div>
</div>
<!--/ Task Cards -->


{% endblock content %}

{% block javaScriptBlock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{% static 'js/kanban/kanban.js' %}"></script>
{% endblock %}